<footer class="bg-dark text-white pt-4 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>About Us</h5>
        </div>
        <div class="col-md-6">
          <h5>Follow Us</h5>
          <a href="#" class="text-white me-2"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#" class="text-white me-2"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#" class="text-white me-2"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
      </div>
      <hr class="bg-light">
      <div class="text-center">
        <p class="mb-0">&copy; 2024 Your Company. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
